@font-face {
  font-family: 'Inter';
  src: url("../font/Inter/Inter-Regular.woff22") format("woff2"), url("../font/Inter/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("../font/Inter/Inter-Medium.woff2") format("woff2"), url("../font/Inter/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("../font/Inter/Inter-SemiBold.woff2") format("woff2"), url("../font/Inter/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("../font/Inter/Inter-Bold.woff2") format("woff2"), url("../font/Inter/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("../font/Inter/Inter-ExtraBold.woff2") format("woff2"), url("../font/Inter/Inter-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Biryani';
  src: url("../font/Biryani/Biryani-Bold.woff2") format("woff2"), url("../font/Biryani/Biryani-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

.header {
  padding-top: 23px;
  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(20%, #83c5da), color-stop(rgba(249, 203, 195, 0.8)), to(white));
  background-image: linear-gradient(to right top, #83c5da 20%, rgba(249, 203, 195, 0.8), white);
  min-height: 803px;
}

.header-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 71px;
}

.header-nav-left {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -6px;
  -webkit-column-gap: 6px;
          column-gap: 6px;
}

.logo {
  margin-top: -6px;
}

.logo img {
  display: block;
}

.header-nav-list {
  list-style: none;
  -webkit-column-gap: 19px;
          column-gap: 19px;
}

.header-nav-list--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 6px;
          column-gap: 6px;
  font-weight: 500;
  letter-spacing: 0.32px;
  color: var(--link-darkBlue-color);
}

.header-nav-right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 17px;
          column-gap: 17px;
}

.login {
  color: var(--link-darkBlue-color);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.32px;
}

.get-start-btn.btn {
  width: 142px;
  height: 48px;
  font-size: 14px;
  background-color: var(--secont-btn-bgcolor);
}

.header-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 697px;
  text-align: center;
  margin: 180px auto 0;
}

.header-content--title {
  font-weight: 700;
  font-size: 64px;
  line-height: 77.45px;
  letter-spacing: 1px;
  color: var(--link-darkBlue-color);
  margin-bottom: 20px;
  margin-left: -14px;
}

.header-content--copy {
  font-weight: 400;
  line-height: 25px;
  color: var(--text-color);
  margin-bottom: 41px;
}

.header-content-btns {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.content-btn-l.btn {
  width: 162px;
  height: 57px;
  font-size: 14px;
  background-color: var(--secont-btn-bgcolor);
}

.content-btn-r.btn {
  width: 173px;
  height: 57px;
  font-size: 14px;
}

.company {
  overflow: hidden;
}

.company-row {
  position: relative;
  width: 1440px;
  height: 260px;
  top: 0;
  left: 0;
  padding-top: 83px;
  cursor: pointer;
}

.company-brands {
  position: absolute;
  top: 123px;
  left: -83px;
  width: 1600px;
  height: 37px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  pointer-events: none;
}

.company-brands--img {
  pointer-events: none;
}

.about {
  margin-top: 60px;
}

.about-row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-title {
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 1px;
  color: var(--link-darkBlue-color);
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
}

.about-content {
  max-width: 440px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-content--title {
  font-weight: 600;
  font-size: 40px;
  line-height: 53px;
  letter-spacing: 1px;
  color: #322853;
  margin: 70px 0 20px;
}

.about-content--copy {
  max-width: 383px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.32px;
  color: var(--text-color);
  margin-bottom: 25px;
}

.about-btn.btn {
  width: 142px;
  height: 47px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.32px;
  color: var(--btn-white-color);
  background-color: var(--secont-btn-bgcolor);
}

.feature {
  margin-top: 159px;
}

.feature-row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 30px;
}

.feature-title {
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 1px;
  color: var(--link-darkBlue-color);
  width: 100%;
  text-align: center;
  margin-bottom: 78px;
}

.feature-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 36px;
          column-gap: 36px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 216px;
  width: 370px;
  border: 1px solid #F1F1F1;
  padding-top: 45px;
}

.feature-block-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 220px;
}

.feature-block--img {
  width: 48px;
  height: 48px;
}

.feature-block--title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 23px;
}

.feature-block--copy {
  font-weight: 400;
  line-height: 18px;
  color: var(--text-color);
  margin-bottom: 22px;
}

.feature-block--link {
  font-weight: 500;
  font-size: 14px;
  color: #47BEBA;
}

.feature-block--link img {
  margin-left: 5px;
}

.signup {
  margin-top: 135px;
  min-height: 986px;
  background: -webkit-gradient(linear, right bottom, left top, color-stop(20%, #8fffff), color-stop(70%, #fec7f1));
  background: linear-gradient(right bottom, #8fffff 20%, #fec7f1 70%);
}

.signup-content {
  background-color: var(--link-darkBlue-color);
  min-height: 493px;
  max-width: 1440px;
  -webkit-clip-path: circle(71% at 50% -54%);
          clip-path: circle(71% at 50% -54%);
  translate: transformY(100px);
}

.signup-content--title {
  font-weight: 700;
  font-size: 64px;
  line-height: 93.5px;
  text-align: center;
  padding-top: 128px;
  color: var(--btn-white-color);
}

.signup-content--title span {
  font-family: 'Biryani';
  color: var(--btn-red-bgcolor);
}

.signup-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 493px;
  background-color: var(--darkblue);
  -webkit-clip-path: circle(71% at 50% 154%);
          clip-path: circle(71% at 50% 154%);
  padding-top: 206px;
}

.signup-mail--title {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.3px;
  color: var(--btn-white-color);
  margin-bottom: 32px;
}

.signup-mail-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 13px;
          column-gap: 13px;
  margin-bottom: 24px;
}

.signup-mail-block--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 45px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  border-radius: 50px;
}

.signup-mail-block--item.item1 {
  background-color: var(--btn-white-color);
  width: 197px;
  color: var(--darkblue);
  -webkit-column-gap: 9px;
          column-gap: 9px;
}

.signup-mail-block span {
  color: var(--darkgrey);
}

.signup-mail-block--item.item2 {
  background-color: var(--secont-btn-bgcolor);
  width: 193px;
  color: var(--white);
}

.signup-mail--copy {
  font-weight: 400;
  font-size: 14px;
  color: var(--darkgrey);
}

.user {
  margin-top: 150px;
}

.user-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.user-title {
  width: 100%;
  font-weight: 800;
  font-size: 48px;
  line-height: 63px;
  text-align: center;
  color: var(--darkblue);
  margin-bottom: 100px;
}

.user-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 70px;
          column-gap: 70px;
}

.arrow-item {
  cursor: pointer;
}

.user-block-arr--left {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.user-block-content {
  height: 233px;
  max-width: 400px;
  padding: 52px 30px;
  border: 1px solid #F1F1F1;
}

.user-block-content-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
          column-gap: 16px;
  margin-bottom: 24px;
}

.user-block-content-about--name h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 23.2px;
  padding-bottom: 4px;
  color: var(--darkblue);
}

.user-block-content-about--name span {
  font-weight: 500;
  font-size: 15px;
  letter-spacing: -0.1px;
  color: var(--darkgrey);
}

.user-block-content--copy {
  font-weight: 400;
  line-height: 19.36px;
  letter-spacing: 0.3px;
  color: var(--darkgrey);
}

.advantage {
  margin-top: 150px;
}

.advantage-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantage-title {
  font-family: 'Biryani';
  font-weight: 700;
  font-size: 48px;
  width: 100%;
  color: var(--darkblue);
  text-align: center;
  margin-bottom: 100px;
}

.advantage-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 54px;
  margin-bottom: 30px;
}

.advantage-block--img {
  width: 470px;
  height: 311px;
  border-radius: 10px;
}

.advantage-block--line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0 0 21px;
}

.advantage-block--line .num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  width: 26px;
  height: 32px;
  border: 1px solid #000;
  margin-bottom: 24px;
}

.advantage-block--line .line {
  display: inline-block;
  width: 2px;
  height: 100%;
  border: 1px dashed #B4B4B4;
}

.advantage-content {
  max-width: 490px;
  color: var(--darkblue);
}

.advantage-content--title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 17px;
}

.advantage-content--descr {
  font-weight: 500;
  line-height: 18.36px;
  margin-bottom: 43px;
}

.advantage-content-list {
  list-style: none;
}

.advantage-content-list :nth-child(n) {
  position: relative;
  padding-left: 35px;
  line-height: 16.94px;
}

.advantage-content-list :nth-child(n):before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: -3px;
  left: 0;
  background-image: url("../img/advantage/check.svg");
}

.advantage-content-list :not(:last-child) {
  margin-bottom: 17px;
}

:root {
  --btn-red-bgcolor: #F22E52;
  --btn-white-color: #fff;
  --link-darkBlue-color: #160647;
  --secont-btn-bgcolor: #47BEBA;
  --text-color: #6C6C6C;
  --darkblue: #160647;
  --white: #fff;
  --darkgrey: #7A8994;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Inter', 'Biryani', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
}

.container {
  max-width: 1232px;
  padding: 0 30px;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 83px;
  height: 28px;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.32px;
  text-decoration: none;
  border-radius: 5px;
  color: var(--btn-white-color);
  background-color: var(--btn-red-bgcolor);
}
/*# sourceMappingURL=style.css.map */