.about {
  margin-top: 60px;
}

.about-row {
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-title {
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 1px;
  color: var(--link-darkBlue-color);
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
}

.about-content {
  max-width: 440px;
  flex-direction: column;
}

.about-content--title {
  font-weight: 600;
  font-size: 40px;
  line-height: 53px;
  letter-spacing: 1px;
  color: #322853;
  margin: 70px 0 20px;
}

.about-content--copy {
  max-width: 383px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.32px;
  color: var(--text-color);
  margin-bottom: 25px;
}

.about-btn.btn {
  width: 142px;
  height: 47px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.32px;
  color: var(--btn-white-color);
  background-color: var(--secont-btn-bgcolor);
}