.company {
  overflow: hidden;
}

.company-row {
  position: relative;
  width: 1440px;
  height: 260px;
  top: 0;
  left: 0;
  padding-top: 83px;
  cursor: pointer;
}

.company-brands {
  position: absolute;
  top: 123px;
  left: -83px;
  width: 1600px;
  height: 37px;
  justify-content: space-between;
  pointer-events: none;
}
.company-brands--img {
  pointer-events: none;
}