.footer {
  margin-top: 224px;
  background-color: var(--darkblue);
  padding: 143px 0 112px 0;
}

.footer-row {
  max-width: 986px;
  margin: 0 auto;
}

.footer-main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 46px;
}

.footer-list {
  list-style: none;
}

.footer-list :nth-child(1) {
  margin-bottom: 24px;
}

.footer-list :nth-child(1) .footer-list--link {
  font-size: 12px;
}

.footer-list li {
  margin-bottom: 11px;
}

.footer-list--link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.94px;
  letter-spacing: 0.4px;
  color: var(--white);
}

.footer-bottom {
  display: flex;
  align-items: flex-end;
  font-family: 'Biryani', sans-serif;
}

.footer-logo {
  display: flex;
  height: 18px;
}

.footer-bottom p {
  color: var(--white);
  margin-left: 20px;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 0.65px;
  line-height: 1;

}

.footer-bottom--text{
  margin-left: 28px;
  color: var(--white);
  font-size: 10px;
  line-height: 1;
}

.footer-bottom-social {
  display: flex;
  column-gap: 14px;
  margin-left: auto;
}

.footer-bottom-social a {
  display: flex;
}